In [10]:
pip install yfinance ta  xgboost prophet PyPortfolioOpt streamlit

Requirement already satisfied: yfinance in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (0.2.65)
Requirement already satisfied: ta in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (0.11.0)
Requirement already satisfied: xgboost in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (3.0.3)
Requirement already satisfied: prophet in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (1.1.7)
Requirement already satisfied: PyPortfolioOpt in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (1.5.6)
Requirement already satisfied: streamlit in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (1.48.0)
Requirement already satisfied: pandas>=1.3.0 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (2.3.0)
Requirement already satisfied: numpy>=1.16.5 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (2.3.1)
Requirement already satisfied: requests>=2.31 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (2.32.4)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (0.0.12)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (4.3.8)
Requirement already satisfied: pytz>=2022.5 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (2025.2)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (3.18.2)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (4.13.4)
Requirement already satisfied: curl_cffi>=0.7 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (0.13.0)
Requirement already satisfied: protobuf>=3.19.0 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (6.31.1)
Requirement already satisfied: websockets>=13.0 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (15.0.1)
Requirement already satisfied: scipy in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from xgboost) (1.16.1)
Requirement already satisfied: cmdstanpy>=1.0.4 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from prophet) (1.2.5)
Requirement already satisfied: matplotlib>=2.0.0 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from prophet) (3.10.5)
Requirement already satisfied: holidays<1,>=0.25 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from prophet) (0.78)
Requirement already satisfied: tqdm>=4.36.1 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from prophet) (4.67.1)
Requirement already satisfied: importlib_resources in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from prophet) (6.5.2)
Requirement already satisfied: python-dateutil in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from holidays<1,>=0.25->prophet) (2.9.0.post0)
Requirement already satisfied: cvxpy>=1.1.19 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from PyPortfolioOpt) (1.7.1)
Requirement already satisfied: ecos<3.0.0,>=2.0.14 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from PyPortfolioOpt) (2.0.14)
Requirement already satisfied: plotly<6.0.0,>=5.0.0 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from PyPortfolioOpt) (5.24.1)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from plotly<6.0.0,>=5.0.0->PyPortfolioOpt) (9.1.2)
Requirement already satisfied: packaging in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from plotly<6.0.0,>=5.0.0->PyPortfolioOpt) (25.0)
Requirement already satisfied: altair!=5.4.0,!=5.4.1,<6,>=4.0 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.5.0 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<7,>=4.0 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (6.1.0)
Requirement already satisfied: click<9,>=7.0 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (8.2.1)
Requirement already satisfied: pillow<12,>=7.1.0 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (11.3.0)
Requirement already satisfied: pyarrow>=7.0 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (21.0.0)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (4.14.1)
Requirement already satisfied: watchdog<7,>=2.1.5 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (6.0.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (3.1.45)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (0.9.1)
Requirement already satisfied: tornado!=6.5.0,<7,>=6.0.3 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (6.5.2)
Requirement already satisfied: jinja2 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (4.25.0)
Requirement already satisfied: narwhals>=1.14.2 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (2.0.1)
Requirement already satisfied: colorama in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.3.0->yfinance) (2025.2)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.31->yfinance) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.31->yfinance) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.31->yfinance) (2025.8.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.7)
Requirement already satisfied: stanio<2.0.0,>=0.4.0 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from cmdstanpy>=1.0.4->prophet) (0.5.1)
Requirement already satisfied: cffi>=1.12.0 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: pycparser in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.22)
Requirement already satisfied: osqp>=0.6.2 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from cvxpy>=1.1.19->PyPortfolioOpt) (1.0.4)
Requirement already satisfied: clarabel>=0.5.0 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from cvxpy>=1.1.19->PyPortfolioOpt) (0.11.1)
Requirement already satisfied: scs>=3.2.4.post1 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from cvxpy>=1.1.19->PyPortfolioOpt) (3.2.7.post2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from jinja2->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (3.0.2)
Requirement already satisfied: attrs>=22.2.0 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (2025.4.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (0.27.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=2.0.0->prophet) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=2.0.0->prophet) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=2.0.0->prophet) (4.59.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=2.0.0->prophet) (1.4.8)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=2.0.0->prophet) (3.2.3)
Requirement already satisfied: setuptools in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from osqp>=0.6.2->cvxpy>=1.1.19->PyPortfolioOpt) (65.5.0)
Requirement already satisfied: joblib in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from osqp>=0.6.2->cvxpy>=1.1.19->PyPortfolioOpt) (1.5.1)
Requirement already satisfied: six>=1.5 in c:\users\prana\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil->holidays<1,>=0.25->prophet) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: C:\Users\prana\AppData\Local\Programs\Python\Python311\python.exe -m pip install --upgrade pip

In [95]:
import yfinance as yf
import pandas as pd

In [104]:
tickers=["RELIANCE.NS","TCS.NS","HDFCBANK.NS","AAPL","MSFT","JPM","TSLA"]
data=yf.download(tickers,start='2019-01-01',end='2024-12-31')

C:\Users\prana\AppData\Local\Temp\ipykernel_22460\1322583917.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data=yf.download(tickers,start='2019-01-01',end='2024-12-31')
[*********************100%***********************]  7 of 7 completed

In [21]:
data.to_csv(r"C:\Users\prana\OneDrive\Desktop\Project 1\data.csv",index=True)

In [105]:
data.head()

Price           Close                                                 \
Ticker           AAPL  HDFCBANK.NS        JPM       MSFT RELIANCE.NS
Date
2019-01-01        NaN  1013.545959        NaN        NaN  500.481567
2019-01-02  37.617859  1004.298096  82.013504  94.945503  493.963196
2019-01-03  33.870834   996.418579  80.847954  91.452660  487.869049
2019-01-04  35.316761   999.084229  83.828438  95.706039  490.503204
2019-01-07  35.238148  1000.594116  83.886734  95.828117  493.226532

Price                                    High                          ...  \
Ticker           TCS.NS       TSLA       AAPL  HDFCBANK.NS        JPM  ...
Date                                                                   ...
2019-01-01  1717.571289        NaN        NaN  1014.914231        NaN  ...
2019-01-02  1736.075562  20.674667  37.839395  1013.262937  82.401647  ...
2019-01-03  1714.998779  20.024000  34.711709  1004.180222  82.329874  ...
2019-01-04  1694.147583  21.179333  35.385843  1004.298014  84.028246  ...
2019-01-07  1713.148438  22.330667  35.452537  1007.530164  84.477837  ...

Price             Open                               Volume              \
Ticker     RELIANCE.NS       TCS.NS       TSLA         AAPL HDFCBANK.NS
Date
2019-01-01  502.379057  1711.433193        NaN          NaN   3186720.0
2019-01-02  497.579507  1719.556939  20.406668  148158800.0   4067116.0
2019-01-03  494.454323  1732.194396  20.466667  365248800.0   6385832.0
2019-01-04  489.945145  1715.044063  20.400000  234428400.0   3643560.0
2019-01-07  494.231068  1707.642266  21.448000  219111200.0   2693506.0

Price
Ticker             JPM        MSFT RELIANCE.NS     TCS.NS         TSLA
Date
2019-01-01         NaN         NaN   9746670.0  1094883.0          NaN
2019-01-02  15670900.0  35329300.0  15628818.0  2100463.0  174879000.0
2019-01-03  16286400.0  42579100.0  16288287.0  2611668.0  104478000.0
2019-01-04  16935200.0  44060600.0  18516544.0  4280862.0  110911500.0
2019-01-07  15430700.0  35656100.0  12060290.0  1856423.0  113268000.0

[5 rows x 35 columns]

In [4]:
data.tail()

Price            Close                                                    \
Ticker            AAPL  HDFCBANK.NS         JPM        MSFT  RELIANCE.NS
Date
2024-12-23  254.655716  1781.402710  234.583115  433.583038  1222.300049
2024-12-24  257.578674  1778.534180  238.440521  437.647400  1222.750000
2024-12-26  258.396667  1771.264160  239.257263  436.432068  1216.550049
2024-12-27  254.974930  1778.682617  237.318726  428.881104  1221.050049
2024-12-30  251.593079  1758.554077  235.498260  423.202911  1210.699951

Price                                      High                           ...  \
Ticker           TCS.NS        TSLA        AAPL  HDFCBANK.NS         JPM  ...
Date                                                                      ...
2024-12-23  4097.958984  430.600006  255.034791  1786.348303  234.809438  ...
2024-12-24  4118.851562  462.279999  257.588630  1789.018813  238.617655  ...
2024-12-26  4108.602539  454.130005  259.474086  1792.282931  239.375342  ...
2024-12-27  4104.414062  431.660004  258.077462  1786.298783  239.503275  ...
2024-12-30  4098.452148  417.410004  252.889953  1795.250355  236.993977  ...

Price              Open                               Volume              \
Ticker      RELIANCE.NS       TCS.NS        TSLA        AAPL HDFCBANK.NS
Date
2024-12-23  1215.000000  4139.103153  431.000000  40858800.0   5522296.0
2024-12-24  1222.300049  4097.959002  435.899994  23234700.0   7242917.0
2024-12-26  1224.250000  4118.851529  465.160004  27237100.0   5240839.0
2024-12-27  1218.300049  4102.590812  449.519989  42355300.0   3629665.0
2024-12-30  1216.400024  4090.765525  419.399994  35557500.0  11111109.0

Price
Ticker            JPM        MSFT RELIANCE.NS     TCS.NS        TSLA
Date
2024-12-23  8611500.0  19152500.0  10052824.0  2195338.0  72698100.0
2024-12-24  3729100.0   7164500.0   6734917.0  1181886.0  59551800.0
2024-12-26  4451800.0   8194200.0  10016178.0  1208464.0  76366400.0
2024-12-27  5730200.0  18117700.0   7000397.0   858100.0  82666800.0
2024-12-30  5723800.0  13158700.0   8818766.0  1527169.0  64941000.0

[5 rows x 35 columns]

In [98]:
data.columns

MultiIndex([( 'Close',        'AAPL'),
            ( 'Close', 'HDFCBANK.NS'),
            ( 'Close',         'JPM'),
            ( 'Close',        'MSFT'),
            ( 'Close', 'RELIANCE.NS'),
            ( 'Close',      'TCS.NS'),
            ( 'Close',        'TSLA'),
            (  'High',        'AAPL'),
            (  'High', 'HDFCBANK.NS'),
            (  'High',         'JPM'),
            (  'High',        'MSFT'),
            (  'High', 'RELIANCE.NS'),
            (  'High',      'TCS.NS'),
            (  'High',        'TSLA'),
            (   'Low',        'AAPL'),
            (   'Low', 'HDFCBANK.NS'),
            (   'Low',         'JPM'),
            (   'Low',        'MSFT'),
            (   'Low', 'RELIANCE.NS'),
            (   'Low',      'TCS.NS'),
            (   'Low',        'TSLA'),
            (  'Open',        'AAPL'),
            (  'Open', 'HDFCBANK.NS'),
            (  'Open',         'JPM'),
            (  'Open',        'MSFT'),
            (  'Open', 'RELIANCE.NS'),
            (  'Open',      'TCS.NS'),
            (  'Open',        'TSLA'),
            ('Volume',        'AAPL'),
            ('Volume', 'HDFCBANK.NS'),
            ('Volume',         'JPM'),
            ('Volume',        'MSFT'),
            ('Volume', 'RELIANCE.NS'),
            ('Volume',      'TCS.NS'),
            ('Volume',        'TSLA')],
           names=['Price', 'Ticker'])

In [106]:
df=data

In [99]:
data.isna().sum()

Price   Ticker
Close   AAPL           46
        HDFCBANK.NS    75
        JPM            46
        MSFT           46
        RELIANCE.NS    75
        TCS.NS         75
        TSLA           46
High    AAPL           46
        HDFCBANK.NS    75
        JPM            46
        MSFT           46
        RELIANCE.NS    75
        TCS.NS         75
        TSLA           46
Low     AAPL           46
        HDFCBANK.NS    75
        JPM            46
        MSFT           46
        RELIANCE.NS    75
        TCS.NS         75
        TSLA           46
Open    AAPL           46
        HDFCBANK.NS    75
        JPM            46
        MSFT           46
        RELIANCE.NS    75
        TCS.NS         75
        TSLA           46
Volume  AAPL           46
        HDFCBANK.NS    75
        JPM            46
        MSFT           46
        RELIANCE.NS    75
        TCS.NS         75
        TSLA           46
dtype: int64

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1555 entries, 2019-01-01 to 2024-12-30
Data columns (total 35 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   (Close, AAPL)          1555 non-null   float64
 1   (Close, JPM)           1555 non-null   float64
 2   (Close, TSLA)          1555 non-null   float64
 3   (Close, MSFT)          1555 non-null   float64
 4   (Close, HDFCBANK.NS)   1555 non-null   float64
 5   (Close, RELIANCE.NS)   1555 non-null   float64
 6   (Close, TCS.NS)        1555 non-null   float64
 7   (High, AAPL)           1555 non-null   float64
 8   (High, JPM)            1555 non-null   float64
 9   (High, TSLA)           1555 non-null   float64
 10  (High, MSFT)           1555 non-null   float64
 11  (High, HDFCBANK.NS)    1555 non-null   float64
 12  (High, RELIANCE.NS)    1555 non-null   float64
 13  (High, TCS.NS)         1555 non-null   float64
 14  (Low, AAPL)            1555 non-null   float64
 15  (Low, JPM)             1555 non-null   float64
 16  (Low, TSLA)            1555 non-null   float64
 17  (Low, MSFT)            1555 non-null   float64
 18  (Low, HDFCBANK.NS)     1555 non-null   float64
 19  (Low, RELIANCE.NS)     1555 non-null   float64
 20  (Low, TCS.NS)          1555 non-null   float64
 21  (Open, AAPL)           1555 non-null   float64
 22  (Open, JPM)            1555 non-null   float64
 23  (Open, TSLA)           1555 non-null   float64
 24  (Open, MSFT)           1555 non-null   float64
 25  (Open, HDFCBANK.NS)    1555 non-null   float64
 26  (Open, RELIANCE.NS)    1555 non-null   float64
 27  (Open, TCS.NS)         1555 non-null   float64
 28  (Volume, AAPL)         1555 non-null   float64
 29  (Volume, JPM)          1555 non-null   float64
 30  (Volume, TSLA)         1555 non-null   float64
 31  (Volume, MSFT)         1555 non-null   float64
 32  (Volume, HDFCBANK.NS)  1555 non-null   float64
 33  (Volume, RELIANCE.NS)  1555 non-null   float64
 34  (Volume, TCS.NS)       1555 non-null   float64
dtypes: float64(35)
memory usage: 469.6 KB

In [18]:
df.describe()

Price         Close                                                      \
Ticker         AAPL  HDFCBANK.NS          JPM         MSFT  RELIANCE.NS
count   1509.000000  1479.000000  1509.000000  1509.000000  1479.000000
mean     134.892333  1360.569909   130.453225   260.434608  1020.624691
std       54.048610   228.794871    38.425362    96.717531   285.770985
min       33.870834   728.956238    67.735397    91.452660   397.062042
25%       88.662422  1174.120789   100.173843   192.862610   834.504486
50%      143.241928  1410.484009   126.270325   252.384857  1085.072144
75%      172.032486  1541.229004   145.162811   325.038116  1201.447937
max      258.396667  1851.382812   246.293076   464.002502  1595.484985

Price                                    High                            ...  \
Ticker       TCS.NS         TSLA         AAPL  HDFCBANK.NS          JPM  ...
count   1479.000000  1509.000000  1509.000000  1479.000000  1509.000000  ...
mean    2945.729579   180.707466   136.227340  1373.465763   131.675509  ...
std      757.482316   105.261362    54.439658   228.569717    38.617159  ...
min     1513.737061    11.931333    34.711709   769.121458    71.780838  ...
25%     2064.092407    74.641998    90.030610  1184.186057   101.272129  ...
50%     3094.845947   202.070007   144.784525  1423.146406   127.588502  ...
75%     3454.151855   251.119995   173.502862  1554.445849   146.727722  ...
max     4476.749512   479.859985   259.474086  1859.543042   250.248884  ...

Price          Open                                  Volume                \
Ticker  RELIANCE.NS       TCS.NS         TSLA          AAPL   HDFCBANK.NS
count   1479.000000  1479.000000  1509.000000  1.509000e+03  1.479000e+03
mean    1021.457595  2946.686259   180.731679  9.420399e+07  1.224454e+07
std      285.774180   756.984458   105.363202  5.232393e+07  1.173997e+07
min      411.501864  1442.830479    12.073333  2.323470e+07  5.484040e+05
25%      831.397501  2065.602768    72.199997  5.914450e+07  5.926446e+06
50%     1085.449198  3097.295655   202.059998  8.153200e+07  9.406921e+06
75%     1203.356896  3454.821352   250.770004  1.124244e+08  1.560111e+07
max     1599.022925  4498.623571   475.899994  4.265100e+08  2.226710e+08

Price
Ticker           JPM          MSFT   RELIANCE.NS        TCS.NS          TSLA
count   1.509000e+03  1.509000e+03  1.479000e+03  1.479000e+03  1.509000e+03
mean    1.290310e+07  2.797049e+07  1.955773e+07  2.747884e+06  1.275475e+08
std     6.680883e+06  1.213431e+07  1.523105e+07  1.661159e+06  8.052966e+07
min     3.220500e+06  7.164500e+06  1.705656e+06  1.548950e+05  2.940180e+07
25%     8.723400e+06  2.018480e+07  1.065340e+07  1.716334e+06  7.801200e+07
50%     1.110750e+07  2.502770e+07  1.502741e+07  2.317278e+06  1.044233e+08
75%     1.455800e+07  3.203820e+07  2.216993e+07  3.224842e+06  1.491588e+08
max     5.441880e+07  9.701270e+07  1.426834e+08  1.983933e+07  9.140820e+08

[8 rows x 35 columns]

In [41]:
df[df.isna().any(axis=1)]

Price            Close                                                   \
Ticker            AAPL         JPM        TSLA        MSFT  HDFCBANK.NS
Date
2019-01-01         NaN         NaN         NaN         NaN  1013.545959
2019-01-21         NaN         NaN         NaN         NaN  1013.569702
2019-02-13   40.712143   85.826546   20.544666  100.288086          NaN
2019-02-18         NaN         NaN         NaN         NaN   986.085205
2019-03-04   42.068584   86.742332   19.024000  105.855453          NaN
...                ...         ...         ...         ...          ...
2024-09-02         NaN         NaN         NaN         NaN  1609.246460
2024-10-02  225.985641  202.737366  249.020004  414.702362          NaN
2024-11-15  224.458542  241.392609  320.720001  412.584747          NaN
2024-11-20  228.448914  236.934952  342.029999  413.071869          NaN
2024-11-28         NaN         NaN         NaN         NaN  1773.638062

Price                                       High                          ...  \
Ticker      RELIANCE.NS       TCS.NS        AAPL         JPM        TSLA  ...
Date                                                                      ...
2019-01-01   500.481567  1717.571289         NaN         NaN         NaN  ...
2019-01-21   552.583313  1726.589844         NaN         NaN         NaN  ...
2019-02-13          NaN          NaN   41.262372   86.459278   20.850000  ...
2019-02-18   544.725769  1782.312866         NaN         NaN         NaN  ...
2019-03-04          NaN          NaN   42.523120   88.182623   19.933332  ...
...                 ...          ...         ...         ...         ...  ...
2024-09-02  1516.250000  4444.602539         NaN         NaN         NaN  ...
2024-10-02          NaN          NaN  226.573571  204.360911  251.160004  ...
2024-11-15          NaN          NaN  226.373920  242.484884  324.679993  ...
2024-11-20          NaN          NaN  229.376668  240.703792  346.600006  ...
2024-11-28  1270.800049  4183.302246         NaN         NaN         NaN  ...

Price              Open                                 Volume              \
Ticker      HDFCBANK.NS  RELIANCE.NS       TCS.NS         AAPL         JPM
Date
2019-01-01  1003.896869   502.379057  1711.433193          NaN         NaN
2019-01-21  1009.700688   533.073038  1720.529139          NaN         NaN
2019-02-13          NaN          NaN          NaN   89960800.0  10754100.0
2019-02-18   994.059264   558.074898  1843.191678          NaN         NaN
2019-03-04          NaN          NaN          NaN  109744800.0  12466300.0
...                 ...          ...          ...          ...         ...
2024-09-02  1628.880561  1510.875000  4498.623571          NaN         NaN
2024-10-02          NaN          NaN          NaN   32880600.0   5810900.0
2024-11-15          NaN          NaN          NaN   47923700.0  11518800.0
2024-11-20          NaN          NaN          NaN   35169600.0   9015300.0
2024-11-28  1799.206753  1289.949951  4256.327079          NaN         NaN

Price
Ticker             TSLA        MSFT HDFCBANK.NS RELIANCE.NS     TCS.NS
Date
2019-01-01          NaN         NaN   3186720.0   9746670.0  1094883.0
2019-01-21          NaN         NaN   8780756.0  48206814.0  2409803.0
2019-02-13   77124000.0  18394900.0         NaN         NaN        NaN
2019-02-18          NaN         NaN   3569372.0  21106139.0  2942184.0
2019-03-04  256452000.0  26608000.0         NaN         NaN        NaN
...                 ...         ...         ...         ...        ...
2024-09-02          NaN         NaN  17024840.0  11240852.0  1216500.0
2024-10-02   93983900.0  16582300.0         NaN         NaN        NaN
2024-11-15  114440300.0  28247600.0         NaN         NaN        NaN
2024-11-20   66340700.0  19191700.0         NaN         NaN        NaN
2024-11-28          NaN         NaN  17861196.0  15027412.0  2558544.0

[121 rows x 35 columns]

In [107]:
new_order=['AAPL','JPM','TSLA','MSFT','HDFCBANK.NS','RELIANCE.NS','TCS.NS']
df=df.reindex(columns=new_order,level=1)

In [108]:
df.index=pd.to_datetime(df.index)

In [109]:
df

Price            Close                                                   \
Ticker            AAPL         JPM        TSLA        MSFT  HDFCBANK.NS
Date
2019-01-01         NaN         NaN         NaN         NaN  1013.545959
2019-01-02   37.617859   82.013504   20.674667   94.945503  1004.298096
2019-01-03   33.870834   80.847954   20.024000   91.452660   996.418579
2019-01-04   35.316761   83.828438   21.179333   95.706039   999.084229
2019-01-07   35.238148   83.886734   22.330667   95.828117  1000.594116
...                ...         ...         ...         ...          ...
2024-12-23  254.655716  234.583115  430.600006  433.583038  1781.402710
2024-12-24  257.578674  238.440521  462.279999  437.647400  1778.534180
2024-12-26  258.396667  239.257263  454.130005  436.432068  1771.264160
2024-12-27  254.974930  237.318726  431.660004  428.881104  1778.682617
2024-12-30  251.593079  235.498260  417.410004  423.202911  1758.554077

Price                                       High                          ...  \
Ticker      RELIANCE.NS       TCS.NS        AAPL         JPM        TSLA  ...
Date                                                                      ...
2019-01-01   500.481567  1717.571289         NaN         NaN         NaN  ...
2019-01-02   493.963196  1736.075562   37.839395   82.401647   21.008667  ...
2019-01-03   487.869049  1714.998779   34.711709   82.329874   20.626667  ...
2019-01-04   490.503204  1694.147583   35.385843   84.028246   21.200001  ...
2019-01-07   493.226532  1713.148438   35.452537   84.477837   22.449333  ...
...                 ...          ...         ...         ...         ...  ...
2024-12-23  1222.300049  4097.958984  255.034791  234.809438  434.510010  ...
2024-12-24  1222.750000  4118.851562  257.588630  238.617655  462.779999  ...
2024-12-26  1216.550049  4108.602539  259.474086  239.375342  465.329987  ...
2024-12-27  1221.050049  4104.414062  258.077462  239.503275  450.000000  ...
2024-12-30  1210.699951  4098.452148  252.889953  236.993977  427.000000  ...

Price              Open                                 Volume              \
Ticker      HDFCBANK.NS  RELIANCE.NS       TCS.NS         AAPL         JPM
Date
2019-01-01  1003.896869   502.379057  1711.433193          NaN         NaN
2019-01-02  1011.045341   497.579507  1719.556939  148158800.0  15670900.0
2019-01-03  1002.269272   494.454323  1732.194396  365248800.0  16286400.0
2019-01-04   998.046217   489.945145  1715.044063  234428400.0  16935200.0
2019-01-07  1003.920567   494.231068  1707.642266  219111200.0  15430700.0
...                 ...          ...          ...          ...         ...
2024-12-23  1762.609455  1215.000000  4139.103153   40858800.0   8611500.0
2024-12-24  1782.441271  1222.300049  4097.959002   23234700.0   3729100.0
2024-12-26  1778.979334  1224.250000  4118.851529   27237100.0   4451800.0
2024-12-27  1775.270206  1218.300049  4102.590812   42355300.0   5730200.0
2024-12-30  1772.698401  1216.400024  4090.765525   35557500.0   5723800.0

Price
Ticker             TSLA        MSFT HDFCBANK.NS RELIANCE.NS     TCS.NS
Date
2019-01-01          NaN         NaN   3186720.0   9746670.0  1094883.0
2019-01-02  174879000.0  35329300.0   4067116.0  15628818.0  2100463.0
2019-01-03  104478000.0  42579100.0   6385832.0  16288287.0  2611668.0
2019-01-04  110911500.0  44060600.0   3643560.0  18516544.0  4280862.0
2019-01-07  113268000.0  35656100.0   2693506.0  12060290.0  1856423.0
...                 ...         ...         ...         ...        ...
2024-12-23   72698100.0  19152500.0   5522296.0  10052824.0  2195338.0
2024-12-24   59551800.0   7164500.0   7242917.0   6734917.0  1181886.0
2024-12-26   76366400.0   8194200.0   5240839.0  10016178.0  1208464.0
2024-12-27   82666800.0  18117700.0   3629665.0   7000397.0   858100.0
2024-12-30   64941000.0  13158700.0  11111109.0   8818766.0  1527169.0

[1555 rows x 35 columns]

In [110]:
df=df.fillna(method='ffill').fillna(method='bfill')

C:\Users\prana\AppData\Local\Temp\ipykernel_22460\1638694757.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df=df.fillna(method='ffill').fillna(method='bfill')

In [48]:
df

Price            Close                                                   \
Ticker            AAPL         JPM        TSLA        MSFT  HDFCBANK.NS
Date
2019-01-01   37.617859   82.013504   20.674667   94.945503  1013.545959
2019-01-02   37.617859   82.013504   20.674667   94.945503  1004.298096
2019-01-03   33.870834   80.847954   20.024000   91.452660   996.418579
2019-01-04   35.316761   83.828438   21.179333   95.706039   999.084229
2019-01-07   35.238148   83.886734   22.330667   95.828117  1000.594116
...                ...         ...         ...         ...          ...
2024-12-23  254.655716  234.583115  430.600006  433.583038  1781.402710
2024-12-24  257.578674  238.440521  462.279999  437.647400  1778.534180
2024-12-26  258.396667  239.257263  454.130005  436.432068  1771.264160
2024-12-27  254.974930  237.318726  431.660004  428.881104  1778.682617
2024-12-30  251.593079  235.498260  417.410004  423.202911  1758.554077

Price                                       High                          ...  \
Ticker      RELIANCE.NS       TCS.NS        AAPL         JPM        TSLA  ...
Date                                                                      ...
2019-01-01   500.481567  1717.571289   37.839395   82.401647   21.008667  ...
2019-01-02   493.963196  1736.075562   37.839395   82.401647   21.008667  ...
2019-01-03   487.869049  1714.998779   34.711709   82.329874   20.626667  ...
2019-01-04   490.503204  1694.147583   35.385843   84.028246   21.200001  ...
2019-01-07   493.226532  1713.148438   35.452537   84.477837   22.449333  ...
...                 ...          ...         ...         ...         ...  ...
2024-12-23  1222.300049  4097.958984  255.034791  234.809438  434.510010  ...
2024-12-24  1222.750000  4118.851562  257.588630  238.617655  462.779999  ...
2024-12-26  1216.550049  4108.602539  259.474086  239.375342  465.329987  ...
2024-12-27  1221.050049  4104.414062  258.077462  239.503275  450.000000  ...
2024-12-30  1210.699951  4098.452148  252.889953  236.993977  427.000000  ...

Price              Open                                 Volume              \
Ticker      HDFCBANK.NS  RELIANCE.NS       TCS.NS         AAPL         JPM
Date
2019-01-01  1003.896869   502.379057  1711.433193  148158800.0  15670900.0
2019-01-02  1011.045341   497.579507  1719.556939  148158800.0  15670900.0
2019-01-03  1002.269272   494.454323  1732.194396  365248800.0  16286400.0
2019-01-04   998.046217   489.945145  1715.044063  234428400.0  16935200.0
2019-01-07  1003.920567   494.231068  1707.642266  219111200.0  15430700.0
...                 ...          ...          ...          ...         ...
2024-12-23  1762.609455  1215.000000  4139.103153   40858800.0   8611500.0
2024-12-24  1782.441271  1222.300049  4097.959002   23234700.0   3729100.0
2024-12-26  1778.979334  1224.250000  4118.851529   27237100.0   4451800.0
2024-12-27  1775.270206  1218.300049  4102.590812   42355300.0   5730200.0
2024-12-30  1772.698401  1216.400024  4090.765525   35557500.0   5723800.0

Price
Ticker             TSLA        MSFT HDFCBANK.NS RELIANCE.NS     TCS.NS
Date
2019-01-01  174879000.0  35329300.0   3186720.0   9746670.0  1094883.0
2019-01-02  174879000.0  35329300.0   4067116.0  15628818.0  2100463.0
2019-01-03  104478000.0  42579100.0   6385832.0  16288287.0  2611668.0
2019-01-04  110911500.0  44060600.0   3643560.0  18516544.0  4280862.0
2019-01-07  113268000.0  35656100.0   2693506.0  12060290.0  1856423.0
...                 ...         ...         ...         ...        ...
2024-12-23   72698100.0  19152500.0   5522296.0  10052824.0  2195338.0
2024-12-24   59551800.0   7164500.0   7242917.0   6734917.0  1181886.0
2024-12-26   76366400.0   8194200.0   5240839.0  10016178.0  1208464.0
2024-12-27   82666800.0  18117700.0   3629665.0   7000397.0   858100.0
2024-12-30   64941000.0  13158700.0  11111109.0   8818766.0  1527169.0

[1555 rows x 35 columns]

In [111]:
df.isna().any(axis=0)

Price   Ticker
Close   AAPL           False
        JPM            False
        TSLA           False
        MSFT           False
        HDFCBANK.NS    False
        RELIANCE.NS    False
        TCS.NS         False
High    AAPL           False
        JPM            False
        TSLA           False
        MSFT           False
        HDFCBANK.NS    False
        RELIANCE.NS    False
        TCS.NS         False
Low     AAPL           False
        JPM            False
        TSLA           False
        MSFT           False
        HDFCBANK.NS    False
        RELIANCE.NS    False
        TCS.NS         False
Open    AAPL           False
        JPM            False
        TSLA           False
        MSFT           False
        HDFCBANK.NS    False
        RELIANCE.NS    False
        TCS.NS         False
Volume  AAPL           False
        JPM            False
        TSLA           False
        MSFT           False
        HDFCBANK.NS    False
        RELIANCE.NS    False
        TCS.NS         False
dtype: bool

In [112]:
df.duplicated().sum() # no duplicated row

np.int64(0)

In [58]:
currency=yf.download('USDINR=X',start='2019-01-01',end='2024-12-31')['Close']

C:\Users\prana\AppData\Local\Temp\ipykernel_22460\2969876029.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  currency=yf.download('USDINR=X',start='2019-01-01',end='2024-12-31')['Close']
[*********************100%***********************]  1 of 1 completed

In [113]:
currency

Ticker      IND_to_USD
Date
2019-01-01   69.709999
2019-01-02   69.709999
2019-01-03   69.959999
2019-01-04   70.300003
2019-01-07   69.525002
...                ...
2024-12-23   84.945000
2024-12-24   85.098900
2024-12-26   85.413399
2024-12-27   85.260902
2024-12-30   85.386002

[1555 rows x 1 columns]

In [114]:
currency=currency.reindex(df.index,method='ffill')

In [61]:
currency

Ticker       USDINR=X
Date
2019-01-01  69.709999
2019-01-02  69.709999
2019-01-03  69.959999
2019-01-04  70.300003
2019-01-07  69.525002
...               ...
2024-12-23  84.945000
2024-12-24  85.098900
2024-12-26  85.413399
2024-12-27  85.260902
2024-12-30  85.386002

[1555 rows x 1 columns]

In [115]:
currency.rename(columns={'USDINR=X':'INR_to_USD'},inplace=True)

In [84]:
currency

Ticker      IND_to_USD
Date
2019-01-01   69.709999
2019-01-02   69.709999
2019-01-03   69.959999
2019-01-04   70.300003
2019-01-07   69.525002
...                ...
2024-12-23   84.945000
2024-12-24   85.098900
2024-12-26   85.413399
2024-12-27   85.260902
2024-12-30   85.386002

[1555 rows x 1 columns]

In [116]:
for ticker in indian_tickers:
    for col in ['Close', 'High', 'Low', 'Open']:
        df[(col, ticker)] = df[(col, ticker)].div(currency['IND_to_USD'].values)

In [117]:
df

Price            Close                                                  \
Ticker            AAPL         JPM        TSLA        MSFT HDFCBANK.NS
Date
2019-01-01   37.617859   82.013504   20.674667   94.945503   14.539463
2019-01-02   37.617859   82.013504   20.674667   94.945503   14.406801
2019-01-03   33.870834   80.847954   20.024000   91.452660   14.242690
2019-01-04   35.316761   83.828438   21.179333   95.706039   14.211724
2019-01-07   35.238148   83.886734   22.330667   95.828117   14.391860
...                ...         ...         ...         ...         ...
2024-12-23  254.655716  234.583115  430.600006  433.583038   20.971249
2024-12-24  257.578674  238.440521  462.279999  437.647400   20.899614
2024-12-26  258.396667  239.257263  454.130005  436.432068   20.737545
2024-12-27  254.974930  237.318726  431.660004  428.881104   20.861644
2024-12-30  251.593079  235.498260  417.410004  423.202911   20.595344

Price                                    High                          ...  \
Ticker     RELIANCE.NS     TCS.NS        AAPL         JPM        TSLA  ...
Date                                                                   ...
2019-01-01    7.179480  24.638808   37.839395   82.401647   21.008667  ...
2019-01-02    7.085973  24.904255   37.839395   82.401647   21.008667  ...
2019-01-03    6.973543  24.513991   34.711709   82.329874   20.626667  ...
2019-01-04    6.977286  24.098827   35.385843   84.028246   21.200001  ...
2019-01-07    7.094233  24.640754   35.452537   84.477837   22.449333  ...
...                ...        ...         ...         ...         ...  ...
2024-12-23   14.389311  48.242498  255.034791  234.809438  434.510010  ...
2024-12-24   14.368576  48.400762  257.588630  238.617655  462.779999  ...
2024-12-26   14.243082  48.102553  259.474086  239.375342  465.329987  ...
2024-12-27   14.321336  48.139463  258.077462  239.503275  450.000000  ...
2024-12-30   14.179139  47.999111  252.889953  236.993977  427.000000  ...

Price             Open                              Volume              \
Ticker     HDFCBANK.NS RELIANCE.NS     TCS.NS         AAPL         JPM
Date
2019-01-01   14.401046    7.206700  24.550756  148158800.0  15670900.0
2019-01-02   14.503591    7.137850  24.667293  148158800.0  15670900.0
2019-01-03   14.326319    7.067672  24.759783  365248800.0  16286400.0
2019-01-04   14.196958    6.969347  24.396074  234428400.0  16935200.0
2019-01-07   14.439706    7.108681  24.561557  219111200.0  15430700.0
...                ...         ...        ...          ...         ...
2024-12-23   20.750008   14.303373  48.726861   40858800.0   8611500.0
2024-12-24   20.945527   14.363288  48.155252   23234700.0   3729100.0
2024-12-26   20.827872   14.333231  48.222546   27237100.0   4451800.0
2024-12-27   20.821621   14.289082  48.118079   42355300.0   5730200.0
2024-12-30   20.760996   14.245895  47.909089   35557500.0   5723800.0

Price
Ticker             TSLA        MSFT HDFCBANK.NS RELIANCE.NS     TCS.NS
Date
2019-01-01  174879000.0  35329300.0   3186720.0   9746670.0  1094883.0
2019-01-02  174879000.0  35329300.0   4067116.0  15628818.0  2100463.0
2019-01-03  104478000.0  42579100.0   6385832.0  16288287.0  2611668.0
2019-01-04  110911500.0  44060600.0   3643560.0  18516544.0  4280862.0
2019-01-07  113268000.0  35656100.0   2693506.0  12060290.0  1856423.0
...                 ...         ...         ...         ...        ...
2024-12-23   72698100.0  19152500.0   5522296.0  10052824.0  2195338.0
2024-12-24   59551800.0   7164500.0   7242917.0   6734917.0  1181886.0
2024-12-26   76366400.0   8194200.0   5240839.0  10016178.0  1208464.0
2024-12-27   82666800.0  18117700.0   3629665.0   7000397.0   858100.0
2024-12-30   64941000.0  13158700.0  11111109.0   8818766.0  1527169.0

[1555 rows x 35 columns]

In [119]:
df

Price            Close                                                  \
Ticker            AAPL         JPM        TSLA        MSFT HDFCBANK.NS
Date
2019-01-01   37.617859   82.013504   20.674667   94.945503   14.539463
2019-01-02   37.617859   82.013504   20.674667   94.945503   14.406801
2019-01-03   33.870834   80.847954   20.024000   91.452660   14.242690
2019-01-04   35.316761   83.828438   21.179333   95.706039   14.211724
2019-01-07   35.238148   83.886734   22.330667   95.828117   14.391860
...                ...         ...         ...         ...         ...
2024-12-23  254.655716  234.583115  430.600006  433.583038   20.971249
2024-12-24  257.578674  238.440521  462.279999  437.647400   20.899614
2024-12-26  258.396667  239.257263  454.130005  436.432068   20.737545
2024-12-27  254.974930  237.318726  431.660004  428.881104   20.861644
2024-12-30  251.593079  235.498260  417.410004  423.202911   20.595344

Price                                    High                          ...  \
Ticker     RELIANCE.NS     TCS.NS        AAPL         JPM        TSLA  ...
Date                                                                   ...
2019-01-01    7.179480  24.638808   37.839395   82.401647   21.008667  ...
2019-01-02    7.085973  24.904255   37.839395   82.401647   21.008667  ...
2019-01-03    6.973543  24.513991   34.711709   82.329874   20.626667  ...
2019-01-04    6.977286  24.098827   35.385843   84.028246   21.200001  ...
2019-01-07    7.094233  24.640754   35.452537   84.477837   22.449333  ...
...                ...        ...         ...         ...         ...  ...
2024-12-23   14.389311  48.242498  255.034791  234.809438  434.510010  ...
2024-12-24   14.368576  48.400762  257.588630  238.617655  462.779999  ...
2024-12-26   14.243082  48.102553  259.474086  239.375342  465.329987  ...
2024-12-27   14.321336  48.139463  258.077462  239.503275  450.000000  ...
2024-12-30   14.179139  47.999111  252.889953  236.993977  427.000000  ...

Price             Open                              Volume              \
Ticker     HDFCBANK.NS RELIANCE.NS     TCS.NS         AAPL         JPM
Date
2019-01-01   14.401046    7.206700  24.550756  148158800.0  15670900.0
2019-01-02   14.503591    7.137850  24.667293  148158800.0  15670900.0
2019-01-03   14.326319    7.067672  24.759783  365248800.0  16286400.0
2019-01-04   14.196958    6.969347  24.396074  234428400.0  16935200.0
2019-01-07   14.439706    7.108681  24.561557  219111200.0  15430700.0
...                ...         ...        ...          ...         ...
2024-12-23   20.750008   14.303373  48.726861   40858800.0   8611500.0
2024-12-24   20.945527   14.363288  48.155252   23234700.0   3729100.0
2024-12-26   20.827872   14.333231  48.222546   27237100.0   4451800.0
2024-12-27   20.821621   14.289082  48.118079   42355300.0   5730200.0
2024-12-30   20.760996   14.245895  47.909089   35557500.0   5723800.0

Price
Ticker             TSLA        MSFT HDFCBANK.NS RELIANCE.NS     TCS.NS
Date
2019-01-01  174879000.0  35329300.0   3186720.0   9746670.0  1094883.0
2019-01-02  174879000.0  35329300.0   4067116.0  15628818.0  2100463.0
2019-01-03  104478000.0  42579100.0   6385832.0  16288287.0  2611668.0
2019-01-04  110911500.0  44060600.0   3643560.0  18516544.0  4280862.0
2019-01-07  113268000.0  35656100.0   2693506.0  12060290.0  1856423.0
...                 ...         ...         ...         ...        ...
2024-12-23   72698100.0  19152500.0   5522296.0  10052824.0  2195338.0
2024-12-24   59551800.0   7164500.0   7242917.0   6734917.0  1181886.0
2024-12-26   76366400.0   8194200.0   5240839.0  10016178.0  1208464.0
2024-12-27   82666800.0  18117700.0   3629665.0   7000397.0   858100.0
2024-12-30   64941000.0  13158700.0  11111109.0   8818766.0  1527169.0

[1555 rows x 35 columns]

In [121]:
df.to_csv(r"C:\Users\prana\OneDrive\Desktop\Project 1\data\cleaned_stock_data.csv")